%registro=link_to 'Registro', '/new',:class => "link_registro"

- if session[:usuario]
  =link_to 'Cerrar sesion', '/logout'
- else
  %acceder=link_to 'Acceder', '/login'

-if session[:usuario]
  -if session[:usuario].rol=="Profesor"
    %p=link_to 'Administrar eventos', eventos_path

%h2 Curso 2012/2013

%img= image_tag("urjc.gif")
#meses
  - @meses.each do |mes|
    %p.mes
      = mes.mes
      = link_to "Ver mes", mes_path(mes)


