%h2= @mes.mes



-@listadias.each_with_index do |dia, index|
  #num
    %h1.num= index+1
    -if not dia.empty?
      -dia.each do |evento|
        %td=evento.asignatura
        %td=evento.tipo
        -#.wday domingo=0
        %td= link_to "Ver evento", evento_path(evento)

%p= link_to "Atras", homepage_index_path
