/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/





body{
	background-color: white;
	width:1000px;
	margin-left: auto;
	margin-right: auto;
}

h2{
	color:#009966;
	position: relative;
	left: 400px;
	font: 250% sans-serif; 
}
#num{
    width:110px;
	height:110px;
        padding:10px 10px 10px 10px;
	border:2px solid;
        margin:2px;
	border-color:black;
	float:left;
	
	
}
h1.num{
	color:#009966;
	display:inline;
}

.link_registro{
	color:black;
	width:100%;
	margin:8px;
}
.num{
	border:10px;
}

img{
	width:500px;
	height:200px;
	position: relative;
	left: 700px;
	top:70px;
}

registro{
	position: absolute;
	left: 980px;
        top: 20px;
}
acceder{
	position: absolute;
	left: 1080px;
        top: 20px;
}
p.mes{
	position: relative;
	left: 150px;
        font: 120% sans-serif bold; 
	top: -200px;
}

listames{
	background-color: #CCCCCC;
	width: 200px;
}

#warning{
  font: 120% sans-serif bold;
  color: white;
  background: red;
  width:100%;
  margin: 1em 0;
  padding: 4px;
}	

#notice {
  font: 120% sans-serif bold;
  color: white;
  background: #41b3d9;
  width:1100px;
  margin: 1em 0;
  padding: 4px;
}	

#aml{
	background-color: black;
	float:left;
}