/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/





body{
	background-color: white;
        width:1000px;
        height:600px;
}

h2{
	color:#009966;
	position: relative;
	left: 40%;
	font: 250% sans-serif; 
}
#num{
	
        width:13%;
	height:20%;
        padding:0.1% 0.1% 0.1% 0.1%;
	border:2px solid;
        margin:0.2%;
	border-color:black;
	float:left;
	
	
}
h1.num{
	color:#009966;
        font-size:100%
}

.num{
	border:1%;
}

img{
	width:40%;
	height:20%;
	position: absolute;
	left: 50%;
	top:35%;
}

registro{
	position: absolute;
	left: 83%;
        top: 2%;
}
acceder{
	position: absolute;
	left: 90%;
        top: 2%;
}

.eventos{
	  
          left: 150%;
          border:2px solid;
	  border-color:black; 
	    
}
.title{
	
	display:block;
        text-align:left;
	font: 120% sans-serif bold;
         
}


.modeventoasig{
	padding-left:6%;
}

#meses{
	position: absolute;
	left: 15%;
        font: 120% sans-serif bold; 
	background-color: #CCCCCC;
        border:2px solid;
	border-color:black;
	border-radius:15px 55px;
}

p.mes{
	padding:0% 8%;
}

#warning{
  font: 120% sans-serif bold;
  color: white;
  background: red;
  width: 130%;
  padding: 0.4%;
}	

#notice {
  font: 120% sans-serif bold;
  color: white;
  background: #41b3d9;
  width: 130%;
  padding: 0.4%;
}	

#admin{
	text-align:center;
	width: 40%;
        font: 120% sans-serif bold; 
	background-color: #FFCC66;
	border-radius:15px 55px;
}

#registrarse, #logearse{
	text-align:center;
	width: 40%;
        font: 120% sans-serif bold; 
	background-color: #CCFFFF;
	border:2px solid;
	border-color:#009966;
	border-radius:15px 55px;
	border-radius:15px 55px;

}

#admineventos{
	text-align:center;
	width: 70%;
        font: 120% sans-serif bold; 
	background-color: #FFCC66;
	border:2px solid;
	border-color:#FF9966;
	border-radius:15px 55px;
	border-radius:15px 55px;

}
